.App {
  text-align: center;
}

@media (orientation: landscape) {

}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-footer);
  color: var(--text-clr-inv);
  text-align: center;
  vertical-align: top;
  columns: 3;
}
.footer-img{
  width: var(--std-unit);

}
.footer-copyright{
  padding-top: calc(var(--std-unit)*0.3);
}
.footer-links-fb{
  width: calc(var(--std-unit)*0.5);
  padding-top: calc(var(--std-unit)*0.3);
}
.footer-links-ig-bg{
  background-color: var(--clr-peach);
  border-radius: 50%;
  width: calc(var(--std-unit)*0.6);
  height: calc(var(--std-unit)*0.6);
}
.footer-links-ig{
  width: calc(var(--std-unit)*0.3);
  padding-top: calc(var(--std-unit)*0.15);
}