.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (orientation: landscape) {

}
.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--bg);
  color: var(--text-clr);
  text-align: center;
}
.header-img{
  width: calc(var(--std-unit)*2.7);
}


.background{
  height: 50vh;
  overflow: hidden;
}
.background-img{
  width: 100vw;
}



.links{
  height: 60vh;
}
.links-appointments{
  background-color: var(--clr-lblue);
}
.links-appointments-text{

}
.links-appointments-link{

}
.links-location{
  columns: 2;
}
.links-location-title{
  font-weight: bold;
}
.links-location-desc{

}
.links-location-add{

}
.links-location-dir{

}
.links-location-hours{

}
.links-profiles{

}
.links-profiles-div{

}





.footer{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-footer);
  color: var(--text-clr-inv);
  text-align: center;
  vertical-align: top;
  columns: 3;
}
.footer-img{
  width: var(--std-unit);

}
.footer-copyright{
  padding-top: calc(var(--std-unit)*0.3);
}
.footer-links-fb{
  width: calc(var(--std-unit)*0.5);
  padding-top: calc(var(--std-unit)*0.3);
}
.footer-links-ig-bg{
  background-color: var(--clr-peach);
  border-radius: 50%;
  width: calc(var(--std-unit)*0.6);
  height: calc(var(--std-unit)*0.6);
}
.footer-links-ig{
  width: calc(var(--std-unit)*0.3);
  padding-top: calc(var(--std-unit)*0.15);
}