.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--bg);
  color: var(--text-clr);
  text-align: center;
}
.header-img{
  width: calc(var(--std-unit)*2.7);
}


.background{
  height: 70vh;
  overflow: hidden;


}
.background-img{
  /* clip: rect(600px,600px,20px,600px); */
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}



.links{
  min-height: 60vh;
}
.links-appointments{
  background-color: var(--clr-lblue);
  padding-top: calc(var(--std-unit)*0.5);
  padding-bottom: calc(var(--std-unit)*0.5);
  border-bottom: calc(var(--std-unit)*0.001) solid var(--border-clr) ;
}
.links-appointments-text{
  padding-bottom: calc(var(--std-unit)*0.25);
}
.links-appointments-lk{
  margin-left: calc(var(--std-unit)*0.2);
  margin-right: calc(var(--std-unit)*0.2);
}
.links-appointments-link{
  background-color: var(--text-clr);
  color: var(--text-clr-inv);
  font-size: calc(var(--std-unit)*0.2);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: calc(var(--std-unit)*0.15);
  cursor: pointer;
  border: none;
}
.links-appointments-link:hover{
  background-color: var(--clr-grey0);
  filter: brightness(2);
}
.links-location{
  margin-top: calc(var(--std-unit)*0.5);
}
.links-location-desc{

}
.links-location-maps{
  margin-bottom: calc(var(--std-unit)*0.5);
}
.links-location-desc-side{
  width: calc(var(--std-unit)*4);
  display: inline-block;
  vertical-align: top;
}
.links-location-title{
  font-weight: bold;
  display: block;
  margin-bottom: calc(var(--std-unit)*0.1);
}
.links-location-add{

}
.links-location-dir{
  margin-bottom: calc(var(--std-unit)*0.5);
}
.links-location-dir-btn{
  background-color: var(--text-clr);
  color: var(--text-clr-inv);
  font-size: calc(var(--std-unit)*0.2);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: calc(var(--std-unit)*0.15);
  cursor: pointer;
  border: none;
}
.links-location-hours{
  margin-bottom: calc(var(--std-unit)*0.75);
}
.links-profiles{
  margin-bottom: calc(var(--std-unit)*0.5);

}
.links-profiles-div{
  text-align: center;
  padding-top: calc(var(--std-unit)*.2);
}
.links-profiles-div-btn{
  margin: calc(var(--std-unit)*.2);
  display: inline-block;
}
.links-profiles-div-btn-lnk{

}
.links-profiles-div-btn-btn{
  background-color: var(--text-clr);
  color: var(--text-clr-inv);
  font-size: calc(var(--std-unit)*0.2);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: calc(var(--std-unit)*0.15);
  cursor: pointer;
  border: none;
}
.links-profiles-div-btn-btn:hover{
  background-color: var(--clr-grey0);
  filter: brightness(2);
}






.footer{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-footer);
  color: var(--text-clr-inv);
  text-align: center;
  vertical-align: top;
  columns: 3;
}
.footer-img{
  width: var(--std-unit);

}
.footer-copyright{
  padding-top: calc(var(--std-unit)*0.4);
}


@media (orientation: landscape) {
  .header-img{
    width: calc(var(--std-unit)*1.6);
  }
  .links-appointments-link{
    font-size: calc(var(--std-unit)*0.12);
  }
  .links-location-dir-btn{
    font-size: calc(var(--std-unit)*0.12);
  }
  .links-profiles-div-btn-btn{
    font-size: calc(var(--std-unit)*0.12);
  }
  .footer-img{
    width: calc(var(--std-unit)*0.7);
  }
  .footer-copyright{
    padding-top: calc(var(--std-unit)*0.3);
  }
}