body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --clr-peach: rgb(233, 89, 80);
  --clr-fbblue: rgb(59, 89, 152);
  --clr-lblue: rgb(242, 242, 242);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-grey0: rgb(30, 30, 30);
  --clr-cw: rgb(36, 33, 34);

  --bg: var(--clr-white);
  --text-clr: var(--clr-black);
  --text-clr-inv: var(--clr-white);
  --bg-footer: var(--clr-cw);
}





@media (orientation: portrait) {
  :root{
    --std-unit: calc(max(6vw,min(70px,16vw))*1.0);
  }
}
@media (orientation: landscape) {
  :root{
    --std-unit: calc(max(6vw,min(70px,16vw))*1.0);
  }
}